doctype html
head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" type="text/css" href="/css/root.css") 
    link(rel="stylesheet" type="text/css" href="/css/login.css") 
    link(rel="stylesheet" type="text/css" href="/css/home.css") 

div#info
    //- Logout button
    form(method='POST' action='/logout')
        button.button#logout logout

    //- Display user details
    ul.details
        if user
            li#name #{user.name.toLowerCase()}
            li#email #{user.email.toLowerCase()}
            //- li
            //-     button#edit edit details

    //- Show the queue table/list ++ have a remove button
    div#requests_text your requests
    div#err
        if err
            = err
    div#ifcontent queue empty
    table#requests_list
        tr 
            th position
            th name
            th email
            th purpose
            th status
            th 

    //- Add more options here if needed
    div#new_request new request
        form(method='POST' action='/add_queue' autocomplete="off")
            input.input(type="hidden" name="source" value = user.id)
            input.input#destination(type="email" name="destination" placeholder="destination email" required)
            div#user_suggestions
            input.input#purpose(type="text" name="purpose" placeholder="purpose" required)
            button.button#submit(type='submit') Submit
                

div#orangeRect
    div#page_info homepage

script(src="/js/home.js")