doctype html
title BoilerBot. Output.

head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" type="text/css" href="/css/root.css") 
    link(rel="stylesheet" type="text/css" href="/css/login.css") 
    link(rel="stylesheet" type="text/css" href="/css/home.css") 
    link(rel="shortcut icon" href="/resources/favicon.ico")

div#output
   
script(src="/js/output.js")
