doctype html
head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" type="text/css" href="/css/root.css") 
    link(rel="stylesheet" type="text/css" href="/css/login.css") 


div#info
    h1(id="heading") #[a#heading_link(href='/') BoilerBot.]
   
    form(method='POST' action='/register')
        if err
            div#err 
                | #{err}

        input.input(type='input' placeholder='full name' name='name' required)
        br
        input.input(type='email' placeholder='name@email.com' name='email' required)
        br
        input.input(type='password' placeholder='password' name='password' required)
        br
        input.input(type='password' placeholder='confirm password' name='confirm_password' required)         
        br
        button.button#submit(type='submit') submit

    form(action='/login')
        button.button#register(type='submit') already have an account
    
    a.social(href='/')
        img#github(src='/resources/GitHub-Mark-64px.png', width="45px")
    
    div#signature
        | website by #[a#sig_gh(href='https://github.com/dhruvswarup123/') dhruv swarup]

div#orangeRect
    div#page_info register