doctype html
h1 Register
h2 
    if err
        = err
    else
        | no err

form(method='POST' action='/register')
    input.form-input(type='input' placeholder='name' name='name' required)
    input.form-input(type='email' placeholder='name@email.com' name='email' required)
    input.form-input(type='password' placeholder='password' name='password' required)
    input.form-input(type='password' placeholder='confirm password' name='confirm_password' required)
    
    button.btn.btn-primary(type='submit') Register

a(href='/login') Login

//- script(src="/js/login.js")
//- link(rel="stylesheet" type="text/css" href="/css/login.css")