doctype html
head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    script(src="/js/root.js")
    link(rel="stylesheet" type="text/css" href="/css/root.css") 
//- canvas#myCanvas

div#info
    h1(id="heading") BoilerBot.
    //- img#car(src="/resources/car.png" width="50px" )
   

    form(action='/login')
        button.button(type='submit') login

    form(action='/register')
        button.button(type='submit') register
    
    a.social(href='/')
        img#github(src='/resources/GitHub-Mark-64px.png', width="45px")
    
    div#signature
        | website by dhruv swarup
        
div#orangeRect
    
    
    
    