doctype html
head
    meta(name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0)
    style(body {padding: 0; margin: 0;})
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js")
    script(src="/js/visualizer.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" type="text/css" href="/css/root.css") 
    link(rel="stylesheet" type="text/css" href="/css/login.css") 
    link(rel="stylesheet" type="text/css" href="/css/home.css") 
    link(rel="stylesheet" type="text/css" href="/css/visualizer.css") 
body
    input.input#visualizer(type="text" name="lidar_data" placeholder="x, y" onkeydown="process()")
    button.button#visualizer_btn process

