#logout{
    position: absolute;
    right: 0px;
    bottom: 30px;
    width: 100px;
}

#logout:hover{
    color: white;
    cursor: pointer;
    border-color: orangered;
    width: 150px;
    background-color: orangered;
}

#name{
    font-weight: bold;

}

#email{
    font-style: oblique;
}

.details{
    margin-top: 30px;
    font-family: "Montserrat";
}

#edit{
    font-family: "Montserrat";
    margin-top: 5px;
    outline: none;
    border: none;
    transition-duration: 0.2s;
}

#edit:hover{
    color: orangered;
    cursor: pointer;
}

#requests_list {
    display:inline-block;
    right: 0px;
    font-family: "Montserrat";

    border-collapse: collapse;
    border-spacing: 0px;
    max-height: 250px;
    overflow-y: auto; 
    width: auto;
    margin-right: 0px;
    margin-left: auto;
}

#requests_text{
    margin-top: 100px;

    font-family: "Viga";
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 30px;
    color: orangered;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #e4e4e4;
}

td{
    font-size: 13px;
}
  
tr:nth-child(even){background-color: red}
tr:nth-child(odd){background-color: blue}

#new_request{
    font-family: "Viga";
    margin-top: 30px;
    font-size: 30px;
    color: orangered;
}

/* #submit{
    width: 100px;
}

#submit:hover{
    width: 150px;
} */

/* #new_email{
    margin-right: 10px;
} */