#logout{
    position: absolute;
    right: 0px;
    bottom: 30px;
    width: 100px;
}

#logout:hover{
    color: white;
    cursor: pointer;
    border-color: orangered;
    width: 150px;
    background-color: orangered;
}

#name{
    font-weight: bold;

}

#email{
    font-style: oblique;
}

.details{
    margin-top: 30px;
    font-family: "Montserrat";
}

#edit{
    font-family: "Montserrat";
    margin-top: 5px;
    outline: none;
    border: none;
    transition-duration: 0.2s;
}

#edit:hover{
    color: orangered;
    cursor: pointer;
}

#requests_list {
    display: none;
    right: 0px;
    font-family: "Montserrat";

    border-collapse: collapse;
    border-spacing: 0px;
    max-height: 250px;
    overflow-y: auto; 
    width: auto;
    margin-right: 0px;
    margin-left: auto;
}

#requests_text{
    margin-top: 100px;

    font-family: "Viga";
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 30px;
    color: orangered;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #e4e4e4;
}

td{
    font-size: 13px;
}
  
/* tr:nth-child(even){background-color: red}
tr:nth-child(odd){background-color: blue} */

#new_request{
    font-family: "Viga";
    margin-top: 30px;
    font-size: 30px;
    color: orangered;
}

.delete_btn{
    border: none
}

.delete_btn:hover{
    cursor: pointer;
}

#ifcontent{
    display: none;
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-size: 12px
}

/* #submit{
    width: 100px;
}

#submit:hover{
    width: 150px;
} */

#user_suggestions{
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    right: 0px;
    width: 400px;
    height: auto;
    max-height: 0px;
    border-right: 2px solid orangered;
    overflow-y: auto;
    transition-duration: 0.3s;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: -20px;
}

#destination:focus + #user_suggestions{
    max-height: 200px;
}


#user_suggestions:hover{
    max-height: 200px;
}

.input{
    margin-bottom: 20px;
}

#submit{
    margin-top: 0px;
    display: block;
    right: 0px;
    margin-left: auto;
}

#sug_table{
    right: 0px;
    font-family: "Montserrat";

    border-collapse: collapse;
    border-spacing: 0px;

    max-height: 250px;
    overflow-y: auto; 
    width: 100%;
    margin-right: 0px;
    margin-left: auto;
}

#sug_table th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid white;
}

.sug_name{
    text-align: right;
    border-right-color: orangered;
}

.sug_email{
    text-align: left;
}

.sug_row:hover .sug_name{
    background-color: #ff450050;
    cursor: pointer;
}

.sug_row:hover .sug_email{
    background-color: #ff450050;
    cursor: pointer;
}