*{
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
    text-align: right;
    outline: none;
}

#info{
    position: fixed;
    right: 32%;
    width: 100%;
    height: 100%;
    background-color: #00000000;
}

#orangeRect{
    position: fixed;
    top: 0px;
    right: 10%;
    width: 20%;
    height: 100%;
    background-color: orangered;
}

#signature{
    position: absolute;
    font-family: "Montserrat";
    background-color: #00000000;
    font-size: 12px;
    bottom: 30px;
    color: #80808050;
    font-weight: bold;
    right: 0px;
}

#sig_gh{
    color: #80808050;
    font-weight: bold;
    /* text-decoration: none; */
    right: 0px;
    transition-duration: 0.2s;
}

#sig_gh:hover{
    color: orangered;
}

.social{
    position: absolute;
    bottom: 50px;
    right: 0px;
    background-color: #00000000;
}
#github{
    width: 45px;
    transition-duration: 0.3s;
    background-color: #00000000;
}

#github:hover{
    width: 64px;
}

/* #car{
    transition-duration: 200ms;
    transition-timing-function: linear; 
    position: fixed;
    left: 100px;
    top: 100pxx;
}  */

h1{
    margin-top: 200px;
    margin-bottom: 50px;

    font-family: 'Viga';
    font-weight: lighter;
    font-size: 100px;
}

.button{
    /* display: inline-block; */
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
    border-style: solid;    
    /* padding: 10px 100px; */
    padding-top: 10px;
    padding-bottom: 10px;

    border: 2px solid black;
    width: 350px;
    margin-bottom: 10px;
    font-size: 17px;
    transition-duration: 0.3s;
    text-align: center;
    font-weight: bold;
    color: black;
}

.button:hover{
    color: white;
    cursor: pointer;
    border-color: orangered;
    width: 400px;
    background-color: orangered;
}
