#visualizer{
    position: fixed;
    /* left: 50%; */
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    width: 100%;
    bottom: 50px;
}

#visualizer_btn{
    position: fixed;
    /* left: 50%; */
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    width: 100%;
    bottom: 0px;
}

body{
    overflow:hidden;
}

